
<md-card>
    <md-card-header>
        <img md-card-avatar src="images/koala.jpg">
        <md-card-title>{{title}}</md-card-title>
        <md-card-subtitle>{{subtitle}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="images/koala.jpg">
    <md-card-content>
            <p>Here is some more content</p>
        </md-card-content>
    <md-card-actions>
                    <button md-raised-button color="primary">Like</button>
                    <button md-raised-button >Share</button>
            </md-card-actions>
</md-card>