

<div id="main-container">
    <div id="centro-container">
        <div id="action-bar">
            <md-toolbar>
                <ul id="menu">
                    <li>
                        <a href="#">Profile</a>
                        <ul>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">Graphic design</a></li>
                            <li><a href="#">Development tools</a></li>
                            <li><a href="#">Web design</a></li>
                        </ul>
                    </li>
                </ul>
            </md-toolbar>
        </div>
        <div id="application-area">
                <div id="navigation-bar">
                    <p>Left Navigation bar is here</p>
                </div>
                <div id="content-bar">
                    <div>
                        <item-card title="Hellow"></item-card>
                    </div>
                    <div>
                        <image-card title="title1" subtitle="subtitle1"></image-card>
                    </div>
                     <div>
                        <image-card title="title2" subtitle="subtitle3"></image-card>
                    </div>
                     <div>
                        <image-card></image-card>
                    </div>
                </div>
        </div>
    </div>
    <div id="footer">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Complain</a>
            </li>
            <li>
                <a href="#">Catalog</a>
            </li>
            <li>
                <a href="#">Feedback</a>
            </li>
            <li>
                <a href="#">Reviews</a>
            </li>
        </ul>
    </div>
</div>




