/* You can add global styles to this file, and also import other style files */


@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {

    margin : 0px;
    font-family: Roboto, sans-serif;
}

.icon-20  {
    font-size: 20px;

}

md-sidenav-layout {
    height : 100vh;
}

md-sidenav {
    width : 310px;
}

[md-raised-button] {
    width : 100%;
}

md-toolbar-row {
    justify-content: space-between;
}

.nav-menu {
    list-style: none;
}
.nav-menu .nav-menu-item > a {
    text-decoration: none;
    cursor: pointer;
}

.nav-menu {
    margin : 30px 10px 10px 10px;
}